* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.column {
    float: left;
    padding: 10px;
  }
  
.left {
    width: 25%;
}

.right {
    width: 75%;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }