.column {
    float: left;
    width: 40%;
    padding: 30px;
  }
  
.left {
    width: 20%;
}

.right {
    width: 70%;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }