.column {
    float: left;
    width: 50%;
    margin: auto;
  }
  
.left {
    width: 25%;
}

.right {
    width: 75%;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }